@import "tailwindcss";

:root {
  --text: #2d1e2f; /* Primary dark color for text */
  --background: #f5e6cc; /* Light secondary color for backgrounds */
  --primary: #b3a632; /* Gold for primary accents */
  --card-bg: #ffffff; /* White for cards, derived from secondary */
  --section-bg: #f5e6cc; /* Same as background for sections */
  --card-border: #e0d4b8; /* Subtle border derived from secondary */
}

@font-face {
  font-family: "HomeScand";
  src: url("/fonts/scand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Home";
  src: url("/Fonts/Fokaha/Fokaha\ Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HomeScandBold";
  src: url("/Fonts/Khallab/FFKhallab-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HomeScandLight";
  src: url("/fonts/LateefroundedFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


body {
  color: var(--text);
  background: var(--background);
  font-family: "HomeScand", sans-serif;
}

@layer components {
  .motion-fade {
    @apply transition-opacity duration-300 ease-in-out;
  }
  .motion-slide {
    @apply transition-transform duration-300 ease-in-out;
  }
}