@import "tailwindcss";

:root {
  --text: #f9ff84; /* Light gray for secondary text */
  --background:rgb(26, 103, 148); /* Dark teal for background */
  --primary: #B3A632; /* Gold for primary accents */
  --card-bg: #515a686e; /* Slightly lighter teal for cards */
  --section-bg: #1A2A44; /* Same as background for sections */
  --card-border: #3A4D68; /* Subtle border derived from background */
}

@font-face {
  font-family: "HomeScand";
  src: url("/fonts/scand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Home";
  src: url("/Fonts/Khallab/arkanHome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HomeScandBold";
  src: url("/Fonts/Khallab/FFKhallab-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HomeScandLight";
  src: url("/fonts/LateefroundedFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--text);
  background: var(--background);
}

@layer components {
  .motion-fade {
    @apply transition-opacity duration-300 ease-in-out;
  }
  .motion-slide {
    @apply transition-transform duration-300 ease-in-out;
  }
}